<form class="form">
  <input class="form-text" (keyup)="onKey($event)" type="text" placeholder="Search by card name"><br>
  <input
    [checked]="searchParameters.rarity[0]"
    (change)="(searchParameters.rarity[0] === '') ? searchParameters.rarity[0] = 'common' : searchParameters.rarity[0] = ''"
    type="checkbox"
    id="common"
    checked>
  <Label class="form-checkbox" for="common">Common</Label>

  <input 
    [checked]="searchParameters.rarity[1]"
    (change)="(searchParameters.rarity[1] === '') ? searchParameters.rarity[1] = 'uncommon' : searchParameters.rarity[1] = ''"
    type="checkbox"
    id="uncommon"
    checked>
  <Label class="form-checkbox" for="uncommon">Uncommon</Label>

  <input
    [checked]="searchParameters.rarity[2]"
    (change)="(searchParameters.rarity[2] === '') ? searchParameters.rarity[2] = 'rare' : searchParameters.rarity[2] = ''"
    type="checkbox"
    id="rare"
    checked>
  <Label class="form-checkbox" for="rare">Rare</Label>

  <input
    [checked]="searchParameters.rarity[3]"
    (change)="(searchParameters.rarity[3] === '') ? searchParameters.rarity[3] = 'mythic' : searchParameters.rarity[3] = ''"
    type="checkbox"
    id="mythic"
    checked>
  <Label class="form-checkbox" for="mythic">Mythic</Label>

  <br>
  <button (click)="onSubmit()" type="submit">
    Search
  </button>
</form>
