.navigation {
    background-color: #F96167;
    font-family: 'Raleway', sans-serif;

    &-title {
        display: inline-block;
        width: 48%;
        color: white;
        padding-top: 20px;
        padding-left: 2%;

        h1 {
            cursor: pointer;
            font-size: 30px;
        }

        & i {
            color: #FCE77D;
        }
    }
    
    &-links {
        display: inline-block;
        text-align: right;
        width: 48%;
        padding-right: 2%;

        & button {
            border: none;
            background-color:#F96167;
            cursor: pointer;
            color: #FCE77D;
            font-size: 20px;
            padding: 10px 20px;

            &:focus {
                outline: none;
            }

            &:hover {
                border-bottom: 3px #FCE77D solid;
                color: black;
            }
        }

        &-active {
            padding-right: 20px;
            border-bottom: 3px #FCE77D solid !important;
        }
    }

    &-burger {
        cursor: pointer;
        font-size: 30px;
        color: #FCE77D;
        display: hidden;
        text-align: right;
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .navigation {
        &-title {
            width: 88%;
        }
        &-burger {
            width: 8%;
            display: inline-block;
        }

        &-links {
            //display: none;
            display: none;
            width: 100%;
            
            & button {
                width: 100%;
                background-color:#FCE77D;
                color: #F96167;

                &:hover {
                    border: none;
                }
            }
        }
        
        &-show {
            display: inline-block;
        }
    }
}