.navigation {
    background-color: #F96167;
    padding: 20px 50px;

    font-family: 'Raleway', sans-serif;

    &-title {
        display: inline-block;
        width: 50%;
        color: white;
        padding-top: 20px;

        h1 {
            cursor: pointer;
            font-size: 30px;
        }

        & i {
            color: #FCE77D;
        }
    }

    &-links {
        display: inline-block;
        text-align: right;
        width: 50%;

        & button {
            border: none;
            background-color:#F96167;
            cursor: pointer;
            color: #FCE77D;
            font-size: 20px;
            padding: 10px 20px;

            &:focus {
                outline: none;
            }

            &:hover {
                border-bottom: 3px #FCE77D solid;
                color: black;
            }
        }

        &-active {
            border-bottom: 3px #FCE77D solid !important;
        }
    }
}